<div class="card">
    <div class="relative bg-white-100 font-bold text-gray-900">
        <div class="static bg-white-200 p-4 font-bold text-gray-900" style="min-width: 300px; min-height: 150px;">
                <div class="card">
                    <div class="grid">
                        <div class="col-12">
                            <p-menubar [model]="items">
                                <ng-template pTemplate="start">
                                    <img src="https://primefaces.org/cdn/primeng/images/primeng.svg" height="40" class="mr-2" />
                                </ng-template>
                            </p-menubar>
                        </div> 
                    </div>    
                </div>
        </div>
    </div>
</div> 

<router-outlet></router-outlet>
